body{
    overflow: hidden;
    background-image: url('normal_bg.jpg');
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    margin: 0;
}





.menu{
    background-color: #ebc386;
    float: left;
    position: absolute;
    top: 30px;
    left: 40px;
}
.sidenav {
    text-align: left;
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FCB500;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    right: 400px;
    top: 100%;
    opacity: 1;
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
  }

  .menumain a {
    display: block;
    font-size: 80px;
    padding: 5px 8px 8px 50px;
  }
.menusub{
  white-space: none;
}
  .menusub a {
    display: inline-block;
    font-size: 30px;
    padding: 20px 8px 8px 40px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  i:hover {
    cursor: pointer;
  }

  .menumain a {
    position: relative;
  }
  
  .menumain a:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: rgb(94, 93, 93);
    color: white;
    font-size: 20px;
    text-align: center;
    border: 1px;
    border-radius: 5px;
    padding: 5px 1px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 110%;
  }
  
  .menumain a:hover:before {
    opacity: 1;
    visibility: visible;
  }


.sidenav.active {
  text-align: left;
  height: 100%; /* 100% Full-height */
  width: 200; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #FCB500;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  visibility: visible;
  opacity: 1;
  left: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#menuicon{
  position: fixed;
  top: 40px;
  left: 40px;
  transition: 0.3s;
}

#menuicon.active{
  position: fixed;
  top: 40px;
  left: 230px;
}

button:hover{
    cursor: pointer;
    opacity: 0.9;
    width: 50px;
    height: 50px;
}

button {
    background-color: #e9b555;
      position: relative;
      top: 1px;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      padding: 3px;
      box-shadow: 0px 0px 25px 5px rgb(102, 102, 102);
      transition: 0.4s ease;
  }

h1{
    margin: 60px 0;
}

#container{
    align-items: center;
    width: 100vh ;
    display: grid;
    padding: 80px 0;
    margin: 0 60vh;
    grid-template-columns: auto auto;
    grid-gap: 40px 300px;
}

#container.active{
  filter: blur(10px);
}
#blur.active{
  filter: blur(10px);
}
#blur2.active{
  filter: blur(10px);
}
#container div{
  margin: 0;
  text-align: left;
}

.image-block{
  position: fixed;
  width: 250px;
  height: 250px;
  background-color: rgb(216, 214, 214);
  top: 20vh;
  left: 15vh;
  border-radius: 2em;
  box-shadow: 2px 2px 1px gray ;
}
.image-block2{
  position: relative;
  top: 600px;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  width: 350px;
  height: 250px;
  background-color: rgb(216, 214, 214);
  bottom: 4vh;
  right: 13vh;
  border-radius: 2em;
  box-shadow: 2px 2px 1px gray ;
}


.contact{
  height: 100%;
  background-color: rgb(216, 214, 214);
  padding: 3px 20px;
  border-radius: 8px;
}

a{
  color: #000;
}
.exitbutton{
  position: fixed;
  bottom: 6%;
  left: 2%;

}

.savebtn{
  position: absolute;
  top: 900px;
  left: 1500px;
  margin: 0 30px 0 0;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-color: rgb(93, 243, 93);
}
.savebtn:hover{
  width: 120px;
}

.delbtn{
  position: absolute;
  top: 900px;
  left: 1700px;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-color: rgb(255, 75, 69);
}


.delbtn:hover{
  width: 120px;
}

#popup-save{
  background-color: #8de76d;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  border-radius: 2rem;
  padding: 0 0 40px 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
#popup-save.active{
  visibility: visible;
  opacity: 1;
  top: 50%;
}
a{
  text-decoration: none;
  color: #000;
}

/* Media queries */

@media screen and (max-width:1536px){
  .image-block2{
    position: relative;
    bottom: 100px;
    left: 1200px;
    height: 150px;
    width: 250px;
  }
  .savebtn{
    position: absolute;
    top: 730px;
    right: 140px;
  }
  .delbtn{
    position: absolute;
    top: 730px;
    right: 20px;
  }
}